#test123{
    color: rgb(4, 6, 146);
    font-size: 1.5em;
    font-weight: 600;
}

.custom-hr {
    width: 100%; /* Ancho de la línea */
    height: 1px; /* Altura de la línea */
    background-color: black; /* Color de fondo de la línea */
    margin: 20px 0; /* Margen superior e inferior */
    transform: translate(0,-1.2em);
}